/*  No se aplica reseteo de los márgenes, ni fuentes etc dado que esta seccion ya está vinculada a la hoja de estilos 
principal (style.css) que define todos los estilos principales de cada pagina */

/* Estilos predefinidos en esta pagina */

.hrTitle
{
    width: 230px;
    border-color: var(--amarillo);
    margin-bottom: 20px;
}

/* Formulario registro */

#registro
{
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#registro .tituloSeccion
{
    font-size: 2em;
    color: var(--amarillo);
    font-family: 'Titulos', sans-serif;
}

#registro .form-registro
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

#registro .datosContacto
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.form-registro .input-50, .input-100
{
    width: 100%;
    height: 60px;
    margin: 10px 0px;
    border-radius: 15px;
}


input::placeholder
{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    padding-left: 8px;
}

input:focus
{
    border-style: none;
}

.datosContacto .btn-enviar
{
    border: 2px solid var(--amarillo);
    padding: 10px;
    border-top-right-radius: 20px;
    margin: 30px 0px;
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--amarillo);
    text-decoration: none;
    cursor: pointer;
}

.datosContacto .btn-enviar:hover 
{
    color: var(--hover2);
} 

.datosContacto .mensaje
{
    font-size: 1.2em;
    color: #fff;
}

.datosContacto .mensaje a 
{
    text-decoration: none;
    color: #7a75ab;
    font-weight: bold;
    margin-left: 5px;
}

.datosContacto .mensaje a:hover 
{
    color: var(--hover);
}


/* MEDIA QUERIES */

/*  TABLET ESTÁNDAR - OK */

@media only screen and (max-width: 768px)
{
    #registro
    {
        padding: 80px 30px;
        margin: 120px 30px;
    }
    #registro .form-registro
    {
        margin-left: 0px;
    }
    #registro .datosContacto
    {
        width: 60%;
    }
    .datosContacto .mensaje
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* MOVIL ESTANDAR - OK */
  
@media only screen and (max-width: 400px)
{

    #registro .datosContacto
    {
        width: 100%;
    }

    .datosContacto .mensaje 
    {
        font-size: 1em;
    }
}
